fastapi
uvicorn
python-jose
pydantic
motor
rembg
onnxruntime
google-cloud-storage
google-cloud-secret-manager
azure-cognitiveservices-vision-computervision
msrest
python-multipart
python-dotenv
pymongo
Pillow
pytest
pytest-mock
pytest-asyncio